body{
  background-image: url(bgpic.jpg);
  background-size: cover;
  background-position: center;
}
/* Base styles for larger screens */
.contact-div,
.address-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}




.address-contact{
  margin-bottom: 10px;
  
}
.address-book{
  background-color:yellowgreen;
  align-content: center;
  padding: 25px;
  width: 80%;
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: 0px 5px 5px 2px rgb(58, 55, 55);
}

.delete-contact{
  background-color: rgb(233, 35, 35);
  color: #fff;
  border: none;
  padding: 7px;
  border-radius: 10px;
  font-size: 17px;
  margin-bottom: 10px;
}

#add{
color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  background-color: black; 
}

input{
  padding: 15px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-family: sans-serif;
}

input::placeholder{
  font-size: 18px;
  font-family: sans-serif;
}